@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
.selected--anime--container {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: 90%;
  height: 830px;
  margin: auto;
  margin-top: 26px;
}

.selected--anime--details {
  display: grid;
  row-gap: 17px;
  grid-template-rows: 621px 308px;
  width: 516px;
}
.selected--anime--details .anime--image--cover {
  padding-top: 552px;
  background-image: url("../images/image9.png");
  background-repeat: no-repeat;
  border-radius: 21px;
}
.selected--anime--details .anime--image--cover .title--container {
  width: 90%;
  margin: auto;
  margin-bottom: -8px;
}
.selected--anime--details .anime--image--cover .title--container h1 {
  font-family: "Outfit", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.selected--anime--details .anime--image--cover .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30px;
  margin: auto;
}
.selected--anime--details .anime--image--cover .details .genre {
  font-family: "Outfit", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #747474;
}
.selected--anime--details .anime--image--cover .details .rating {
  display: flex;
  height: inherit;
}
.selected--anime--details .anime--image--cover .details .rating img {
  align-self: center;
  width: 18px;
  height: 17px;
  margin-right: 4px;
}
.selected--anime--details .anime--image--cover .details .rating p {
  font-family: "Avernir LT Std", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  align-self: center;
  font-size: 12px;
  line-height: 15px;
}
.selected--anime--details .story--summary--container {
  width: 512px;
}
.selected--anime--details .story--summary--container p {
  font-family: "Avernir LT Std", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #747474;
}

.episodes--container {
  display: grid;
  row-gap: 31px;
  grid-template-rows: 35px 252px 252px 269px;
}
.episodes--container .header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.episodes--container .header--wrapper h1 {
  font-family: "Outfit", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.episodes {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.episodes img {
  border-radius: 20px;
}
.episodes .description--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.episodes .description--container h1 {
  font-family: "Outfit", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: -11px;
}
.episodes .description--container p {
  font-family: "Outfit", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #747474;
}/*# sourceMappingURL=selected.anime.css.map */